@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;1,700&display=swap");

h1 {
    font-family: "Helvetica", sans-serif;
    font-size: 2rem;
}

h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  border-bottom: 1px solid;
  padding: 0.5em;
  width: 15cm;
}

body {
  background-color: lightblue;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: gray;
    color: white;
    align-items: center;
    justify-content: center;
}

div {
    margin: 10px;
    text-align: left; 
    align-items: left;
}

footer {
    background-color: gray;
    color: white;
    padding: 5px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

.paragraph-1 {
    padding: 10px;
    text-align: left;
    border-top: 1px solid;
    width: 15cm;
    font-family: cursive;
}
