h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin: 0;
    border-bottom: 1px solid;
    padding: 0.5em;
    width: 15cm;
}

body {
    background-color: lightblue;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}

header {
    background-color: gray;
    color: white;
    align-items: center;
    justify-content: center;
}

div {
    margin: 10px;
    text-align: left;
}

footer {
    background-color: gray;
    color: white;
    padding: 5px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

.paragraph-1 {
    padding: 10px;
    text-align: left;
    border-top: 1px solid;
    width: 15cm;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

#content {
    max-width: 600px;
    margin: 0 auto;
  }
